.compare-infographic {
  margin-bottom: 12px;
  .title {
    opacity: 0.8;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .score {
    color: #004f6e;
    font-family: "Noto Sans";
    font-size: 42px;
    letter-spacing: 0;
    line-height: 57px;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
}
