.checklist{
  min-height: 210;
}

.checklist.checklist-complete{
  min-height: unset;
  text-align: center;
}
.checklist.checklist-complete .display-text{
  margin-bottom: 40px;
  margin-top: 0;
}

.checklist .chart-title{
    font-weight: bold;
    margin-bottom: 16px !important;
}
  
.checklist .list-title{
    font-family: "Noto Sans";
    font-weight: bold;
  }
.checklist .list-title-value {
    color: #F1403A;
    font-family: "Noto Sans";
    font-weight: bold;
    text-align: right;
  }

.checklist .list-subtitle {
    font-family: "Noto Sans";
    font-style: italic;
    margin-bottom: 16px !important;
  }

.checklist .display-text{
    color: #004F6E;
    font-style: italic;
}
.checklist .link{
  color: #00AAD9;
  font-family: "Noto Sans";
}
.checklist .no-data{
  margin-top: 0 !important;
}