@import "../../styles/global-styles.scss";

$ssc-picker-height: 150px;

.efficiency-page {
    background-color: #f5f5f5;
    height: calc(100%);
    .MuiCardContent-root {
        padding: 24px 40px;
    }
    .grid-InfographicParagraph {
        padding-bottom: 8px;
    }
    .efficiency-card {
        &.InfographicText {
            max-width: fit-content;
            min-width: 300px;
        }
        &.MuiCard-root {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            border-radius: 8px !important;
        }
        &.InfographicParagraph .MuiCardContent-root,
        &.MuiCard-root.InfographicParagraph {
            box-shadow: none;
            background-color: unset;
            padding-left: 0;
            padding-bottom: 0;
        }

        &.Table {
            .MuiCardContent-root {
                padding: 0;
            }
        }
    }

    .efficiency {
        .link {
            text-decoration: unset;
            color: #028cc8;
            font-family: "Noto Sans";
            font-size: 18px;
            letter-spacing: 0;
            line-height: 24px;
            text-align: center;
        }
        .bar-chart .display-text {
            margin: 148px 0;
            font-style: unset;
        }
        .donut-chart {
            margin-bottom: 44px;
        }
    }
    .firstCaseOnTimeStart {
        .efficiency-card.BarChart {
            .MuiCardContent-root {
                min-height: 420px;
            }
            .bar-chart {
                min-height: 372px;
            }
            //No score
            .display-text {
                font-style: unset;
            }
        }
    }
    .turnoverTime {
        .DonutChart .legend-title{
            white-space: nowrap;
        }
    }

    .efficiency-select-filter {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }

    .overlay {
        height: calc(100% - 155px);
        background-color: #f5f5f5;
        overflow-y: auto;
    }
    .landing-page {
        height: calc(100% - 82px);
    }
    .efficiency-message {
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
    }
    .efficiency-message-subtitle {
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }
    .efficiency-divider {
        background-color: #c8c8c8;
    }
    .efficiency-range-picker {
        background-color: #e8e8e8;
        padding: 8px 0 0 0;
    }
    .efficiency-picker {
        background-color: #e8e8e8;
        padding: 8px 16px;
    }
    .efficiency-picker-container {
        position: relative;
    }

    .efficiency-main {
        padding: 40px;
        max-width: 1230px;
        margin: auto;
        top: $ssc-picker-height;
        // position: relative;
    }

    .StackedBarChart .chart-title {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
        font-weight: unset;
    }
    .DonutChart .MuiCardContent-root {
        padding-bottom: 0;
    }
    .compare-text {
        padding-top: 0;
        color: rgba(0,0,0,.8);
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
    }
    .efficiencyOnboard-link {
        position: absolute;
        top: 30px;
        left: 40px;
    }
    .efficiency-settings {
        position: absolute;
        top: 30px;
        right: 44px;
        a {
            text-decoration: unset;
        }
    }
}
.MuiAutocomplete-popper .MuiAutocomplete-groupLabel {
    line-height: 26px;
}
.efficiencyOnBoarding.Modal {
    padding: 0;
}

.efficiencyOnBoarding {
    max-width: 800px;
    .efficiencyOnBoard-title {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        padding: 40px 40px 0 40px;
        margin-bottom: 29px;
    }
    .efficiencyOnBoard-column {
        padding: 0 0 0 40px;
    }
    .efficiencyOnBoard-paragraph {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .efficiencyOnBoard-segment {
        margin-left: 60px;
        margin-bottom: 24px;
        background-color: #e6e6e6;
        padding: 16px;
    }
    .efficiencyOnBoard-subtitle {
        font-weight: bold;
    }
    .efficiency-OnBoard-box {
        color: #004f6e;
        text-align: center;
        max-width: 116px;
        padding: 2px;
    }
    .efficiency-OnBoard-box div {
        background-color: #cceae6;
        padding: 12px;
    }
    .close-button {
        padding-top: 0;
    }
    .close-button:hover {
        background-color: unset;
    }
}
