@import "../../styles/global-styles.scss";

$ssc-picker-height: 150px;

.efficiency-page {
    background-color: #f5f5f5;
    height: calc(100%);
    .MuiCardContent-root {
        padding: 24px 40px;
    }
    .grid-InfographicParagraph{
        padding-bottom: 8px;
    }
    .efficiency-card.DonutChart{
        overflow: visible;
    }
    .efficiency-card.InfographicText {
        max-width: fit-content;
        min-width: 300px;
    }
    .efficiency-card.InfographicParagraph .MuiCardContent-root,
    .efficiency-card.MuiCard-root.InfographicParagraph {
        box-shadow: none;
        background-color: unset;
        padding-left: 0;
        padding-bottom: 0;
    }
    .EfficiencyReport {
        .link {
            text-decoration: unset;
            color: #028cc8;
            font-family: "Noto Sans";
            font-size: 18px;
            letter-spacing: 0;
            line-height: 24px;
            text-align: center;
        }
        .bar-chart .display-text {
            margin: 148px 0;
            font-style: unset;
        }
        .DonutChart .chart-title{
            margin-bottom: 18px;
        }
    }
    .DaysStartingOnTimeReport {
        .efficiency-card.BarChart {
            .MuiCardContent-root {
                min-height: 420px;
            }
            .bar-chart {
                min-height: 372px;
            }
            //No score
            .display-text {
                font-style: unset;
            }
        }
    }
    //TODO: display infographic text
    .TurnoverTimeReport{
        .grid-InfographicText{
            display: none;
        }
    }
    .efficiency-card.Table {
        .MuiCardContent-root {
            padding: 0;
        }
    }
    .efficiency-select-filter {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }

    .overlay {
        top: $ssc-picker-height;
        background-color: #f5f5f5;
    }
    .overlay.landing-page {
        top: calc(#{$ssc-picker-height} - 65px);
        background-color: #f5f5f5;
    }
    .efficiency-message {
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
    }
    .efficiency-message-subtitle {
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }
    .efficiency-divider {
        background-color: #c8c8c8;
    }
    .efficiency-range-picker {
        background-color: #e8e8e8;
        padding: 16px 0 0 0;
    }
    .efficiency-picker {
        background-color: #e8e8e8;
        padding: 16px;
    }

    .efficiency-card.MuiCard-root {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px !important;
    }

    .efficiency-picker-container {
        position: absolute;
        width: calc(100% - #{$nav-width}) !important;
        z-index: 1100;
        top: 0;
    }
    .efficiency-main {
        padding: 40px;
        max-width: 1230px;
        margin: auto;
        top: $ssc-picker-height;
        // position: relative;
    }

    .efficiency-card.MuiCard-root {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px !important;
    }

    .StackedBarChart .chart-title {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
        font-weight: unset;
    }
    .DonutChart .MuiCardContent-root {
        padding-bottom: 0;
    }
}
.MuiAutocomplete-popper .MuiAutocomplete-groupLabel {
    line-height: 26px;
}
.efficiencyOnBoarding.Modal {
    padding: 0;
}
.efficiencyOnboard-link {
    position: absolute;
    top: 30px;
    left: 40px;
}
.efficiencyOnBoarding {
    
    color: #000;
    font-family: "Noto Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 800px;
    .efficiencyOnBoard-title {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        padding: 40px 40px 0 40px;
        margin-bottom: 29px;
    }
    .efficiencyOnBoard-column{
        padding: 0 0 0 40px;
    }
    .efficiencyOnBoard-paragraph {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .efficiencyOnBoard-segment {
        margin-left: 60px;
        margin-bottom: 24px;
        background-color: #e6e6e6;
        padding: 16px;
    }
    .efficiencyOnBoard-subtitle {
        font-weight: bold;
    }
    .efficiency-OnBoard-box{
        color: #004f6e;
        text-align: center;
        max-width: 116px;
        padding: 2px;
    }
    .efficiency-OnBoard-box div {
        background-color: #CCEAE6;
        padding: 12px;
    }
    .close-button {
        padding-top: 0;
    }
    .close-button:hover {
        background-color: unset;
    }
}
