@import "../../../styles/global-styles.scss";

$paddingSize: 24px;

.Emm-Reports-Overview {
  padding-top: $paddingSize;
}

.Emm-Paper {
  // text-align: center;
  padding: $paddingSize;
  border-radius: 8px;
  .Section-Title {
    margin: 0px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    opacity: 0.8;
  }
  .Section-Divider {
    position: absolute;
    height: 24px;
    width: 1px;
    top: 60px;
    left: 0px;
    background-color: #c8c8c8;
  }
}

.EMM-Score {
  font-size: 42px;
  color: #004f6e;
  .performance-unavailable {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
    height: 85px;
    margin-top: 20px;
  }
}
.EMM-Score-Icon{
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  float: right;
  margin-top: 8px;
  .Overlay{
    position: absolute;
    right: 12px;
    top: 8px;
  }
  svg{
    display: block;
    margin: auto;
    margin-top: 8px;
  }
  &::before{
    opacity: .6;
  }
}


.SSC-Circles {
  @include flex-center;
  & > div {
    width: calc(100% / 3);
  }
  .zero-score {
    width: 100%;
  }
}

hr {
  margin: 24px 0px;
  color: #c8c8c8;
  border-top: 1px solid;
  border-bottom: none;
}

.Case-Information {
  margin-top: 24px;
  .case-info-heading {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 4px;
  }
  .case-info-details {
    font-size: 18px;
    line-height: 24px;
    color: #004f6e;
    margin-bottom: 24px;
    &.specialty {
      margin-bottom: 4px;
    }
    &.procedure {
      font-size: 14px;
      line-height: 19px;
      color: #000000;
      opacity: 0.6;
    }
  }
}

.checklist-status {
  font-size: 14px;
  line-height: 19px;
  .checklist-happened-container {
    flex-grow: 1;
  }
  .checklist-happened {
    cursor: pointer;
    text-align: left;
    margin-right: 32px;
    .title {
      color: #028cc8;
      margin-bottom: 4px;
    }
    .subtitle {
      opacity: 0.6;
      color: #000;
    }
  }
  .checklist-missed {
    text-align: right;
    margin-top: 23px;
    opacity: 0.8;
  }
}

.Phases-Of-Interests-Container {
  margin-top: 24px;
  .phase-of-interest {
    margin: 0px 15px;
    flex: 1;
    min-width: 0px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: -15px;
      top: 10%;
      height: 80%;
      width: 1px;
      background: #c8c8c8;
    }
    &:last-child:after {
      content: none;
    }
  }
  .phase-title {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #028cc8;
    cursor: pointer;
  }
  .phase-event {
    font-size: 14px;
    line-height: 19px;
    color: #000;
  }
}

@media (max-width: $desktop-width) {
  .Emm-Paper.Score {
    padding: 24px 24px;
  }
}
