@import '../../../styles/global-styles.scss';

$paddingSize: 40px;

.Emm-Reports-Overview {
  padding-top: $paddingSize;
}

.Emm-Paper {
  text-align: center;
  padding: $paddingSize;
  border-radius: 8px;
  h2 {
    margin: 0px;
    font-size: 26px;
    color: #000;
    opacity: 0.8;
  }
}

.SSC-Circles {
  @include flex-center;
  & > div {
    width: calc(100% / 3);
  }
}