@import "../../styles/global-styles.scss";
.welcome-page {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .welcome-grid{
        animation: fadeIn 1s ease-in both;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -30%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    img {
        max-width: 360px;
    }
    .message {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 42px;
        letter-spacing: 0;
        line-height: 57px;
    }
    .title-break {
        height: 1px;
        width: 120px;
        background-color: #c8c8c8;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 24px;
    }
    .footer {
        position: absolute;
        bottom: 32px;
        width: 100%;
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
    }
}
