@import "../../../styles/global-styles";
.donut-chart {
  margin-bottom: 20px;
  .chart-title {
    opacity: 0.8;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 26px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
  }
  .donut-chart-detailed-legend-container {
    display: 'flex';
    flex-direction: column;
    align-items: 'flex-start';
  }
  .donut-chart-detailed-legend {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    margin-left: 16px;
    min-height: 308px;
  }
  .legend-title {
    display: flex;
  }
  .legend-item {
    margin: 4px 0;
  }
  .second-title {
    color: #004f6e;
    font-family: "Noto Sans";
    font-size: 42px;
    letter-spacing: 0;
    line-height: 42px;
  }
  .donut-unit {
    color: #004f6e;
    line-height: 42px;
  }
  .c3-tooltip-container .tooltip {
    white-space: nowrap;
  }
  .circle:before {
    content: " \25CF";
    font-size: 32px;
    line-height: 0;
  }
  .tooltip {
    color: #fff;
    padding: 16px;
    max-width: 300px;
    word-wrap: break-word;
    font-family: "Noto Sans";
    font-weight: 500 !important;
    border-radius: 4px;
    background-color: rgba(97, 97, 97, 0.9);
  }
  path {
    stroke-width: 0;
  }
}
.c3-arc-NA {
  fill: #f3f3f3 !important;
}
