.button {
    padding: 6px 24px;
    line-height: 25px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.primary {
    background-color: #004F6E;
    color: #fff;
}
.clear-btn {
    background-color: transparent;
    color: #028CC8;
}
