@import '../../styles/global-styles';

.Package-Section {
    h4 {
        text-align: center;
        margin-bottom: 0px;
    }
}

.Distractions .dashboard-subheading { margin: 25px 0px !important; }

.card-content {
    margin: 60px 0px;
    @include fontSizeLineHeight(1.5);
    .large { @include fontSizeLineHeight(3.5); }
    .medium {
        @include fontSizeLineHeight(2);
        margin: 0px;
    }
    p {
        @include fontSizeLineHeight(1);
        margin: 25px 0px;
    }
    &.card-content-small { margin-top: 20px; }
}

