@import '../../../styles/global-styles';

.User-Info-Form {
    margin-top: 20px;
    [class*="MuiFormControl-root"] {
        width: 330px;
        margin: 0px 20px 25px;
    }
}

.SST-Checkbox:not([class*="disabled"]) {
    svg { color: $dark-grey; }
}
.MuiCheckbox-colorSecondary.Mui-disabled{
    opacity: .3;
}