@import '../../styles/global-styles';

.APP-MAIN-WRAPPER {
  height: calc(100% - #{$header-height} )
}

.MAIN-NAVIGATION [class*="AnchorLeft"] {
  width: $nav-width;
  border-right: 1px solid $light-blue;
}

.Nav-Wrapper {
  background: #fff;
  width: $nav-width;
  vertical-align: top;
}

.Content-Wrapper {
  width: calc(100% - #{$nav-width});
  margin-left: $nav-width;
  height: 100%;
  overflow-x: hidden;
  & > section {
    padding: 3rem;
    min-height: calc(100% - 92px);
  }
  .loading-indicator {
    min-height: calc(100% - 92px);
    margin: 0rem auto;
    padding-top: 25%;
  }
}

.Overlay {
  height: 100%;
}