@import 'styles/global-styles';
.user-management-page{
    padding: 24px 40px;
    .add-user-button{
        margin: 0 0 30px 0;
    }
    .pad {
        padding: 0 16px;
    }
    
    .MuiPaper-elevation2 {
        box-shadow: none;
    }
}


.User-Modal{
    .permissions-checkbox{
        margin-top: 0;
    }
    .subtitle{
        padding-bottom: 0 !important;
    }
    .MuiDialogContent-root {
        padding: 0 !important;
    }
    .link:hover{
        text-decoration: none;
    }
    .Mui-disabled .subtext{
        opacity: .3;
    }
}