@import "../../styles/global-styles.scss";

$ssc-picker-height: 150px;

.ssc-page {
    background-color: #f5f5f5;
    height: calc(100%);
    .ssc-title {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        padding-top: 0 !important;
    }

    .overlay {
        height: calc(100% - #{$ssc-picker-height});
        overflow-y: auto;
        background-color: #f5f5f5;
        padding: 40px;
    }
    .cases-date input {
        font-size: 26px;
        line-height: 36px;
    }
    .QualityScoreReport {
        .BarChart {
            padding: 0 80px 0 0;
            .chart-title {
                font-family: "Noto Sans";
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 24px;
                margin-bottom: 0px !important;
            }
            .chart-subtitle {
                display: none;
            }
        }
    }

    .ssc-divider {
        background-color: #c8c8c8;
    }
    .ssc-picker {
        background-color: #e8e8e8;
        padding: 8px 0 0 0;
    }
    .ssc-picker-container {
        position: relative;
    }
    .ssc-card {
        .MuiCardContent-root {
            margin: 0;
            padding: 24px;
        }
        &.MuiCard-root {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            border-radius: 8px !important;
        }

        &.BarChart,
        &.ListDetail {
            height: 100%;
        }
        &.ssc-card.BarChart {
            .chart-title {
                margin-bottom: 16px;
            }
            .chart-subtitle {
                display: none;
            }
        }
        &.InfographicText .MuiCardContent-root {
            margin: 0;
            padding: 24px 16px;
        }
        &.BarChartDetailed,
        &.List,
        &.BarChart {
            .MuiCardContent-root {
                padding: 24px 40px;
            }
        }
    }

    .ssc-card.InfographicParagraph .MuiCardContent-root,
    .ssc-card.MuiCard-root.InfographicParagraph {
        box-shadow: none;
        background-color: unset;
        padding: 0;
    }
    .ssc-card.InfographicMessage {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
    }
    .ssc-card .InfographicText {
        display: flex;
        align-items: center;
    }
    .ssc-main {
        max-width: 1198px;
        margin: auto;
        // position: relative;
    }
    .ssc-message {
        font-family: "Noto Sans";
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
    }
    .ssc-message-subtitle {
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }

    .ssc-chart-title {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
    }

    .no-data {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .no-data-tile .body {
        padding: 120px 0;
    }

    .ssc-settings {
        position: absolute;
        top: 30px;
        right: 44px;
    }
    a.link {
        text-decoration: unset;
        &.settings {
            font-size: 18px;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
}

.sscOnboard-link {
    position: absolute;
    top: 30px;
    left: 40px;
}
.MuiAutocomplete-popper .MuiAutocomplete-groupLabel {
    line-height: 26px;
}
