@import '../../styles/global-styles.scss';

.ssc-page{
    background-color: #F5F5F5;
}

.ssc-page .next,
.ssc-page .previous{
    font-size: 14px;
    line-height: 19px;
}

.ssc-page .cases-date input{
    font-size: 26px;
    line-height: 36px;
}

.ssc-divider {
    background-color: #C8C8C8;
}
.ssc-picker {
    background-color: #E8E8E8;
    padding: 16px;
}