@import '../../styles/global-styles.scss';

.Dashboard-Welcome {
    font-size: 26px;
}

.cases {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cases-div {
    width: 240px;
    margin: 0 25px;
}
.cases-chart{
    margin: 10px 25px;
}

.total {
    opacity: 0.8;
  color: #111111;
  font-family: "Noto Sans";
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 98px;
}

.case-font {
    font-size: 18px;
}

.chart-inner-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 15%;
    text-align: center;
}

.chart-inner-value {
    // font-weight: bold;
    // color: $dark-blue;
    color: #000;
    font-size: 42px;
}

.empty-space {
    margin-top: 40px;
}



.title-break{
  height: 1px;
  width: 100px;
  border-radius: 4px 4px 0 0;
  background-color: #004F6E;
  
}