@import '../../styles/global-styles.scss';

.Dashboard-Welcome {
    font-size: 26px;
}

.cases {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cases-div {
    width: 300px;
}

.total {
    font-size: 72px;
}

.case-font {
    font-size: 18px;
}