@import '../../styles/global-styles.scss';

.Package-Location {
    margin: 40px 0px;
}

.Package-Logo { width: 70%; }

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.link-border {
    margin: 30px 0px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
}

li:hover {
    color: $light-blue;
  }