.Overview .MeterInfographic {
  .MuiCardContent-root {
    min-width: 240px;
  }
  .goal-slider {
    position: relative;
    right: -16px;
  }
}
.ssc-score {
  .slider-el{
    height: 100%;
  }
  .score-title {
    opacity: 0.8;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 16px;
    white-space: nowrap;
  }
  .score-display {
    color: #004f6e;
    font-family: "Noto Sans";
    font-size: 74px;
    letter-spacing: 0;
    line-height: 74px;
    &.large {
      font-size: 138px;
      letter-spacing: 0;
      line-height: 134px;
    }
  }
  .goal-slider {
    text-align: right;
    margin-top: 16px;
    padding-right: 0 !important;
    margin-right: -16px;
  }
  .compare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #004f6e;
    border-radius: 4px;
    background-color: rgba(167, 229, 253, 0.3);
    margin-top: 16px;
    padding: 8px 24px !important;
    .title {
      font-family: "Noto Sans";
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 24px;
      vertical-align: middle;
      max-width: 170px;
    }
    .compare-score {
      font-family: "Noto Sans";
      font-size: 42px;
      letter-spacing: 0;
      line-height: 57px;
    }
  }

  .link {
    text-decoration: none;
    color: #028cc8;
    font-family: "Noto Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
  }
}
