@import '../../../styles/global-styles';

.score-title {
    opacity: 0.8;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 16px !important;
  }


.score-display {
    color: #004F6E;
    font-size: 138px;
    letter-spacing: 0;
    line-height: 138px;
    text-align: center;
    margin: 8px 0 !important;
  }

  .report-score .link {
    color: #00B3DE;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    margin-top: 18px;
    // margin-bottom: 16px;
  }

.score-message {
  opacity: 0.8;
  color: #000000;
  font-family: "Noto Sans";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.score-subtitle {
  opacity: 0.8;
  color: #000000;
  font-family: "Noto Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  margin-top: 8px !important;
}
.no-data-score{
  min-height: 156px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}