.detailed-multi-line-chart {
    .chart-title {
        text-align: center;
    }
    .chart-subtitle {
        font-style: italic;
        margin-bottom: 17px;
        text-align: center;
    }
    .sub-chart-container {
        min-height: 304px;
    }
    .row-divider {
        height: 1px;
        opacity: 0;
        width: 200px;
        background-color: #eaeaea;
        margin: 23px auto;
    }
    .row-title {
        font-weight: bold;
        margin-bottom: 8px;

        //TODO: revert styling change
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 26px;
    }
    .row-subtitle {
        //TODO:show case count
        display: none;
    }
    .row-score {
        color: #004f6e;
        text-align: right;
    }
    .c3-line {
        stroke-width: 2px;
    }
    circle {
        r: 1;
        stroke: unset !important;
    }
    .line-chart {
        circle:last-of-type{
            r:2;
            fill: #004F6E !important;
        }
    }
    .display-text {
        color: #004f6e;
        text-align: center;
        margin: 136px 0;
    }
}
