.Quality,
.Compliance  {
    .scatter-plot {
        .c3-axis-y-label {
            transform: translate(-10px, 0px) rotate(-90deg);
        }
    }
}
.scatter-plot {
    .chart-title {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .chart-subtitle {
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0;
        line-height: 19px;
        margin-bottom: 17px;
        text-align: center;
    }
    circle.c3-selected-circle {
        fill: white !important;
        stroke: #a77ecd !important;
        r: 4;
        stroke-width: 1px;
    }
    .c3-circles circle {
        r: 2;
        opacity: 1 !important;
        fill: #004f6e !important;
        &._selected_ {
            fill: #a77ecd !important;
        }
        &._expanded_ {
            stroke-width: 2px;
            r: 5;
        }
    }
    .c3-axis,
    .c3-axis-y-label,
    .c3-axis-x-label {
        font-family: "Noto Sans";
        font-size: 12px;
        letter-spacing: 0;
        line-height: 17px;
    }
    .c3-axis-y-label,
    .c3-axis-x-label {
        font-size: 12px;
    }
    .c3 path,
    .c3 line,
    .c3-xgrid,
    .c3-ygrid {
        stroke-dasharray: unset;
        stroke: #eaeaea;
    }
}
