@import "../../../styles/global-styles";
.ItemLists{
  .MuiCardContent-root{
    padding: 0 !important;
  }
}
.checklistdetail {
  .checklist-lists {
    margin: 0 12px;
    max-height: 600px;
    overflow-y: auto;
    
  }
  ::-webkit-scrollbar {
    width: 12px;
    border-radius: 4px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.02);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c2c2c2;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.8);
  }
  
}

.checklistdetail .chart-title {
  opacity: 0.8;
  color: #000000;
  font-family: "Noto Sans";
  font-size: 26px;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  margin-top: 24px;
  padding-bottom: 0;
}

.checklistdetail .top-item {
  color: #ff0000;
  font-weight: bold;
}

.checklistdetail .list-title {
  opacity: 0.6;
  margin-bottom: 24px;
}

.checklistdetail .list-title-value {
  color: #004f6e;
  text-align: right;
  font-weight: bold;
}

.checklistdetail .list-subtitle {
  margin-bottom: 4px;
}

.checklistdetail .list-subtitle-value {
  font-weight: bold;
  text-align: right;
  margin-bottom: 4px;
}

.checklistdetail .ssc-divider {
  margin: 4px 0 25px 0;
  background-color: #eaeaea;
}


.list-subtitle-no-data {
  color: #004f6e;
  font-weight: bold;
  text-align: right;
}

.checklistdetail .close-button {
  padding-top: 0;
}
.checklistdetail .close-button:hover {
  background-color: unset;
}
