@import '../../styles/global-styles.scss';

.header {
    font-size: 26px;
    display: flex;
}

.table-row {
    display: flex;
}

.first-column {
    width: 37%;
}

.table-row-font {
    font-size: 20px;
    margin-bottom: 35px;
}

.row-font {
    font-size: 20px;
}

.margin-top {
    margin-top: 35px;
}
.pad {
    padding: 0 16px 0 0;
}