.sub-chart-container .line-chart {
    .chart-label {
        opacity: 0.6;
        position: absolute;
        bottom: 4px;
    }
    .c3-axis.c3-axis-x .tick,
    .c3-axis.c3-axis-y line
    {
        opacity: 0;
        display: none;
    }
    .c3-axis tspan{
        opacity: .8;
    }
    .c3-axis .domain 
    {
        opacity: .1;
    }
}
