.profile-title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 25px;
}

.profile-box {
    width: 470px;
}

.user-info {
    display: flex;
}

.user-info-buttons {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.first-column {
    width: 80%;
}

.bottom-spacer {
    padding-bottom: 30px;
    padding-top: 4px;
}