@import "../../../styles/global-styles";
.ssc-settings-page {
    max-width: 1198px;
    .title {
        font-size: 18px;
        font-family: "Noto Sans";
        opacity: 0.8;
        color: #000000;
        margin-bottom: 24px;
    }
    .subtitle {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    .content {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        margin-bottom: 24px;
        max-width: 680px;
    }
    .selectors {
        margin-bottom: 24px;
    }
    .unit {
        margin: 8px;
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 40px;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        .reset {
            color: #028cc8;
        }
        button {
            margin: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
        .MuiButton-root.Mui-disabled {
            color: #ffffff;
            opacity: 0.3;
        }
    }

    .error {
        opacity: 0.8;
        color: #ff0000;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        margin-top: 8px;
    }
    .warning {
        opacity: 0.8;
        color: #b47b00;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        margin-top: 40px;
    }
    .notice {
        color: #004f6e;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        margin-top: 8px;
    }
}
.goals {
    margin-bottom: 16px;
}
.goals,
.phase {
    border-radius: 8px;
    .goal {
        opacity: 0.6;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
    }
    .goal-title {
        display: flex;
        justify-content: space-between;
    }
    .goal-display {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }
    .goal-header,
    .phase-header {
        padding: 8px 16px;
        .subtitle {
            margin: auto 0;
        }
        display: flex;
        justify-content: space-between;
    }
    .toggle-label {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
    }
    &.inactive {
        .divider {
            display: none;
            transition: 0.5s;
        }
        .phase-items {
            max-height: 0;
            overflow: hidden;
            padding: 0;
        }
    }
    .divider {
        margin: 0 16px;
    }
    
    .phase-items {
        max-height: 215px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 16px;
        transition: 0.2s;
        .phase-item {
            opacity: 0.8;
            color: #000000;
            font-family: "Noto Sans";
        }
    }
    .phase-items{
        padding-bottom: 8px;
    }
    .SST-Checkbox {
        &:not([class*="disabled"]) {
            svg {
                color: $dark-grey;
            }
        }
        :checked ~ svg{
            color: #004F6E
        }
    }
    
    .goal-slider{
        padding: 16px;
        padding-bottom: 0;
        transition: .2s;
        max-height: 250px;
        &.inactive {
            max-height: 0;
            overflow: hidden;
            padding: 0 16px;
        }
    }
}
