.area-chart{
  .chart-title{
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
  .chart-score{
    color: #005979;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: right;
  }

  .c3-axis .tick line{
    opacity: 0;
  }
  .c3-area{
    fill: url('#gradient') !important;
    opacity: 1 !important;
  }
  .c3-text{
    fill: #004F6E !important;
  }
  
  .c3-text,
  .legend-title,
  .c3-axis,
  .c3-axis-y-label,
  .c3-axis-x-label {
    font-family: "Noto Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
  }
  .c3-axis-y-label,
  .c3-axis-x-label {
    font-size: 15px;
  }
  .c3 path, 
  .c3 line,
  .c3-xgrid,
  .c3-ygrid{
    stroke-dasharray: unset;
    stroke: #EAEAEA;
  }
  .c3-axis-x .tick {
    font-weight: bold;
  }
}