@import '../../../../styles/global-styles.scss';

.Emm-Phase-Video-Container {
  .phase-video {
    width: 975px;
  }
  .Phase-Events-Container {
    background: #FFFFFF;
    width: calc(100% - 975px);
    height: 548px;
    overflow-y: auto;
  }
}