@import '../../../styles/global-styles';

.chart-title{
  font-size: 26px;
  letter-spacing: 0;
  line-height: 36px;
}

.chart-subtitle{
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 32px;
}
.chart-score{
  color: #005979;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}

.bar-chart-detailed .link{
  color: #028CC8;
  font-family: "Noto Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: left;
  margin-left: 24px;
}

.circle:before {
  content: ' \25CF';
  font-size: 32px;
  line-height: 0;
}

.line:before {
  content: ' \2212';
  font-size: 32px;
  line-height: 0;
}

.bar-chart-detailed .c3-axis .tick line{
  opacity: 0;
}

.bar-chart-detailed-legend{
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}
.bar-chart-detailed .legend-title{
  display: flex;
  font-family: "Noto Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}

.c3-axis-y-label,.c3-axis-x-label {
  font-family: "Noto Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}