@import '../../../styles/global-styles';

.Distractions-Legends {
    & > div {
        height: 24px;
        width: 45px;
    }
    .door { background: $brown; }
    .alert { background: $pink; }
    .external { background: $dark-green; }
    .higher { background: red; }
    .lower { background: $dark-green; }
}