@import '../../styles/global-styles.scss';

$onboardwidth: 875px;
.onboarding-dialog {
    .MuiDialog-paperWidthSm {
        max-width: $onboardwidth;
    }
}
.onboarding-dialog-content {
    width: $onboardwidth;
    padding: 40px !important;
    .close-button {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 0px;
    }
    h2 {
        font-size: 26px;
        line-height: 36px;
        margin: 0px 0px 40px;
    }
    .title-p { margin-bottom: 16px; }
    h2, .title-p { text-align: center; }
    .content-container {
        margin: 0 auto;
        width: 795px;
        h5 {
            font-size: 26px;
            line-height: 36px;
            margin: 0px 0px 16px 0px;
        }
        .content-tile {
            width: 385px;
            padding: 24px;
            margin-right: 24px;
            border-radius: 5px;
            img {
                width: 200px;
                margin: 0px auto;
                display: block;
                text-align: center;
            }
            h5, .content-p { text-align: center; }
            &:first-child {
                background: #EEEAF2;
                h5 { color: #592D82; }
            }
            &:last-child {
                margin-right: 0px;
                background: #CCEAE6;
                h5 { color: #009483; }
            }
        }
    }
}

.publish-dialog {
    .MuiPaper-root {
        padding: 16px;
    }
    h2 {
        opacity: 0.8;
    }
    .cancel-publish {
        color: #028CC8 !important;
    }
}

.publish-button {
    padding: 8px 16px !important;
    font-size: 18px;
    line-height: 24px !important;
}

.EMM-REPORTS-SCROLL {
    height: 100%;
    width: calc(100vw - 15px);
}

.Presenter-Mode-Banner {
    background: #004F6E;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: $white;
}

.EMM-REPORTS {
    padding: 24px 40px;
    margin: 0px auto;
    font-size: 18px;
    .EMM-REPORTS-WRAPPER {
        max-width: 1440px;
        margin: 0px auto;
    }
    &.banner-present {
        height: calc(100% - 40px);
    }
    .close-emm {
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 40px;
        z-index: 99;
    }
    .main-text {
        opacity: 0.8;
    }
    .event-circle {
        border: 8px solid #FF0000;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        background: #FFFFFF;
        margin: 2px 8px 0px 0px;
      }
}

.EMM-Reports-Header {
    height: 106px;
    overflow: hidden;
    img {
        width: 200px;
        left: 0px;
    }
    .onboarding-open {
        top: 86px;
        cursor: pointer;
        color: #4EA1DA;
        &:hover { text-decoration: underline; }
    }
    &.has-publish-button { height: 106px; }
}

.EMM-Tab-Selector {
    display: flex;
    width: 410px;
    height: 40px;
    margin: 14px auto 0px;
    .EMM-Tab {
        width: 50%;
        color: $blue;
        border: 1px solid $blue;
        background: $white;
        line-height: 36px;
        cursor: pointer;
        &:first-child {
            border-radius: 30px 0px 0px 30px;
        }
        &:last-child {
            border-radius: 0px 30px 30px 0px;
        }
        &.selected {
            color: $white;
            background: $blue;
            font-weight: bold;
        }
    }
}