@import 'styles/global-styles';

.User-Info-Form {
    margin-top: 20px;
    [class*="MuiFormControl-root"] {
        width: 330px;
        margin: 0px 20px 25px;
    }
}

.SST-Checkbox {
    &:not([class*="disabled"]) {
        svg {
            color: $dark-grey;
        }
    }
    :checked ~ svg{
        color: #004F6E
    }
}
.MuiCheckbox-colorSecondary.Mui-disabled{
    opacity: .3;
}

.Modal .input-field{
    margin-bottom: 8px;
}
.Modal .MuiFormHelperText-contained {
    margin: 4px 0 0 0;
}