@import '../../styles/global-styles.scss';

.list-item{
    padding: 16px 40px;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover,
.MuiListItem-button:hover {
    color:  #028CC8 ;
    background-color: #D8F0F9;
}
.MuiListItem-button:hover .MuiTypography-body1{
    font-weight: bold;
}

.header .MuiTypography-body1 {
  font-size: 26px;
  line-height: 36px;
}