@import '../../styles/global-styles.scss';
.emm-report {
    color: #000000;
    font-family: "Noto Sans";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.list-item{
    padding: 16px 40px;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover,
.MuiListItem-button:hover {
    color:  #028CC8 !important;
    background-color: #D8F0F9 !important;
}
.MuiListItem-button:hover .MuiTypography-body1{
    font-weight: bold;
}

.emm-report-nav .header .MuiTypography-body1 {
  font-size: 26px;
  line-height: 36px;
}

.emm-report .MuiTabs-indicator{
    min-width: 80px;
    height: 5px;
}
.azuremediaplayer.amp-flush-skin.amp-big-play-centered{
    max-height: 550px;
}

.video-tabs{
    border: 1px solid #C8C8C8;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    min-height: 40px;
}
.MuiTab-root.video-tab,
.video-tab {
    // padding: 0;
    max-height: 40px;
    min-height: 40px;
    text-transform: none;
    max-width: 80px;
    min-width: 80px;
}
.overview-logo{
    margin: 140px 0 80px 0;
}
.emm-report-nav .MuiTypography-body1 {
    opacity: 0.8;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}

.overview-procedures {
    opacity: 0.8;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 36px;
}

.MuiTypography-body1.annotation-secondary{
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}
.annotation-card{
    min-height: 200px;
}
