@import '../../../styles/global-styles';
.display-number-main{
  .display-number-title {
    text-align: left;
    opacity: 0.8;
    color: #000000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
  .display-number {
    text-align: left;
    color: #005979;
    font-family: "Noto Sans";
    font-size: 74px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 74px;
  }
  .display-number-unit {
    height: 24px;
    width: 15px;
    color: #004F6E;
    font-family: "Noto Sans";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    vertical-align: top;
  }
}