.list-detailed {
    .chart-title {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        margin-bottom: 4px !important;
        text-align: center;
    }
    .chart-subtitle {
        font-style: italic;
        margin-bottom: 0;
        text-align: center;
    }
    .list-title {
        color: #004f6e;
        font-family: "Noto Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        margin-top: 26px !important;
    }
    .list-title-value {
        color: #ff0201;
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
        text-align: right;
        margin-top: 26px !important;
    }
    .list-subtitle {
        padding-left: 8px;
        margin-top: 4px !important;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .list-subtitle-value {
        text-align: right;
        margin-top: 4px !important;
    }
    .display-text {
        color: #004f6e;
        font-family: "Noto Sans";
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }
}
