@import '../../styles/global-styles';

.pointer {
    cursor: pointer;
}
.month-range-picker{
    .report-date{
        opacity: 0.8;
        color: #000000;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
    }
    .display-info{
        position: absolute;
        opacity: 0.8;
        color: #000000;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0;
        line-height: 24px;
        top: 32px;
        right: 40px;
      }
    .DateRangePickerInput *{
        font-family: "Noto Sans" !important;
        color: #000000;
    }

    .DateRangePickerInput_arrow_svg{
        width: 16px;
        height: 16px;
        margin-bottom: 3px;
    }
    .display-warning{
        padding: 16px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        opacity: 0.8;
      }

    .DateRangePickerInput,
    .DateInput_input{
        background-color: #E8E8E8 !important;
    }
    .DateInput_input{
        cursor: pointer;
    }
    
    .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
        background: #004F6E !important;
        border: 1px double #004F6E !important;
        color: #fff;
    }
    .CalendarDay__hovered_span, .CalendarDay__hovered_span:hover,
    .CalendarDay__selected_span{
        background: #3DB3E3 !important;
        border: 1px double #3DB3E3 !important;
        color: #fff;
    }
}
