@import '../../../../styles/global-styles.scss';

.User-Modal {
    width: 50%;
    max-width: 1150px;
}

.ToolBar {
    display: flex;
    justify-content: space-between;
}

.Paragraph-Error {
    color: $red;
    font-size: 14px;
    line-height: 19px;
}
