@import 'styles/global-styles.scss';

.Delete-Modal {
    width: 50%;
    max-width: 1150px;
}

.Title {
    color: $red;
    font-size: 26px;
    line-height: 36px;
}


.Paragraph-Error {
    color: $red;
}