.add-edit-user.client {
    .view-profile.client {
        flex-direction: column;
        .edit-profile-icon {
            // display: none;
            // align-self: auto;
            // margin-top: 12px;
        }
        .description {
            color: #4f4f4f;
            word-break: break-word;
            hyphens: auto;
        }
    }
    .copy-field {
        button {
            margin: -12px -6px;
        }
    }
    .client-info {
        display: flex;
        margin-bottom: 20px;
    }
    .api-icon {
        font-size: 36px;
    }
    .edit-profile {
        margin-bottom: 0;
    }
}
.Modal.api-management-learn-more {
    height: 448px;
    .description {
        margin-top: 24px;
        margin-bottom: 16px;
    }
    .learn-more-content {
        height: unset;
    }
}
.secret-reset,
.client-success {
    width: 620px;
    height: 340px;

    .copy-field {
        margin-bottom: 24px;
        button {
            margin: -12px -6px;
        }
    }
    .divider {
        margin-bottom: 32px;
    }
    .contents {
        p {
            margin: 0 0 16px 0;
        }
        &:last-child {
            margin-bottom: 24px;
        }
        // color: #828282;
    }
}
.Modal.api-management-learn-more {
    height: unset;
    width: unset;
    a {
        margin: 0 4px;
    }
    .description{
        span {
            line-height: 28px;
        }
    }
    .role-cell {
        display: initial;
        margin: 0 4px;
    }
    .learn-more-content {
        overflow-y: auto;
        max-height: 500px;
        padding: 0px;
        padding-top: 12px;
        
        p {
            &:first-child{
                margin: 12px 32px 0 32px ;
            }
            &:last-child{
                margin: 0 32px 32px 32px ;
            }
            
        }
        background: 0% 0% / auto repeat rgb(171, 184, 195);
        background-repeat: repeat;
    }
}
