@import "../../styles/global-styles.scss";
.tag-info-modal,
.app-wrapper section.case-discovery {
    .tags {
        margin: 4px -4px;
        width: 100%;
    }
    .case-tag {
        border-radius: 8px;
        background-color: #d8f0f9;
        color: #004f6e;
        opacity: 0.8;
        padding: 6px;
        margin: 0 4px;
        display: inline-flex;
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
        margin-bottom: 4px;
        .display {
            margin: auto 4px;
        }
        &.Flagged {
            background-color: #ffcfcf;
            color: #7b2d2d;
        }
        &.add-flag {
            align-items: center;
            background-color: #F4F5F7;
            color: #323232;
            // position: relative;
            // top: 8px;
            cursor: pointer;
            transition: background-color .5s ease-out;
            &:hover {
                background-color: darken(#F4F5F7, 5);
            }
        }
        &.disabled {
            opacity: 0.2;
            cursor: default;
        }
    }
}
.app-wrapper section.case-discovery {
    overflow: hidden;
    padding: 0px;
}

.case-discovery-search {
    // max-width: 1198px;
    // margin: auto !important;
    padding: 2.5em 0 0 2em;
    .header,
    .header-label {
        font-family: "Noto Sans";
        font-size: 16px;
        opacity: 0.8;
        line-height: 19px;
        color: #919191;
        margin: auto 0;
    }
    .header {
        position: absolute;
        background: linear-gradient(180deg, #ffffff 80.33%, rgba(255, 255, 255, 0) 107.41%);
        z-index: 300;
        display: flex;
        justify-content: space-between;
        left: 0;
        right: 20px;
        top: 0;
        padding: 16px 32px;
        margin-right: 20px;
        opacity: 1;
    }
    .cases {
        overflow-y: auto;
        max-height: calc(100vh - 250px);
        width: 100%;
        padding-top: 62px;
        padding-bottom: 90px;
        height: 100%;
        .load-more {
            padding: 7px 23px;
            background: #f4f5f7;
            border: 1px solid #f3f3f3;
            border-radius: 4px;

            font-family: "Noto Sans";

            font-size: 18px;
            line-height: 25px;
            margin-top: 24px;
            color: #323232;
        }
    }
    .case-container {
        max-width: 80%;
        flex-basis: 80%;
    }

    .filters {
        overflow-y: auto;
        max-height: calc(100vh - 62px);
        margin-top: 20px;
        // margin-right: 30px;
        padding-right: 40px;
        // min-width: 20%;
        width: 20%;
        max-width: 20%;
        padding-bottom: 30px;
        .link {
            font-size: 16px;
        }
        .checkbox:hover {
            background-color: unset;
        }
        .select-header {
            display: flex;
            justify-content: space-between;
        }
        .custom-dates {
            display: flex;
            justify-content: space-between;
            .start-date {
                margin-right: 8px;
            }
        }
        .include-toggle {
            margin: 4px;
            margin-top: 12px;
            color: #323232 !important;
            .include-label {
                font-family: "Noto Sans";
                font-size: 16px;
                line-height: 19px;
                opacity: 0.8;
                color: #323232;
            }
        }
        .tags {
            display: inherit !important;
        }
        .show-only-saved {
            .label {
                font-family: "Noto Sans";
                font-size: 16px;
                line-height: 19px;
                opacity: 0.8;
                color: #323232;
            }
            margin-top: 9px;
            margin-bottom: -15px;
        }
    }
    .tag {
        border-radius: 8px;
        background-color: #d8f0f9;
        color: #004f6e;
        opacity: 0.8;
        padding: 6px;
        margin: 4px 4px;
        display: inline-block;
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
        span {
            display: inline-flex;
        }
        .display {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 110px;
        }
        .delete {
            width: 16px;
            height: 14px;
            cursor: pointer;
            padding-top: 2px;
            margin-left: 4px;
        }
    }

    .case {
        &.short {
            width: unset;
            margin: 8px 8px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            padding: 16px;
            height: 90%;
            .short-icon {
                margin-top: -22px !important;
                margin-bottom: -22px !important;
                margin-right: -12px;
                svg {
                    font-size: 24px !important;
                }
            }
            .title {
                font-size: 16px;
                line-height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            .plus-text,
            .description,
            .subtitle {
                font-size: 14px;
                line-height: 19px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .additional-procedure,
            .case-tag .display {
                display: none;
            }
            div:not(:last-child) {
                margin-bottom: 9px;
            }
        }
        &:hover {
            box-shadow: 1px 1px 6px grey;
            -webkit-transition: box-shadow 0.1s ease-in;
            .case-header .save-toggle.not-saved {
                opacity: 0.6;
                height: auto;
                &:hover {
                    opacity: 1;
                }
            }
        }
        cursor: pointer;
        margin: 8px 8px;
        margin-right: 26px;
        padding: 18px 24px;
        border-radius: 8px;

        div:not(:last-child) {
            margin-bottom: 18px;
        }
        .case-header {
            display: flex;
            justify-content: space-between;
            .save-toggle.not-saved {
                opacity: 0;
                transition: opacity 0.1s ease-out;
            }
        }
        .title {
            font-family: "Noto Sans";
            font-size: 26px;
            line-height: 36px;
            color: #004f6e;
            opacity: 0.8;
            cursor: pointer;
            width: fit-content;
            max-width: 85%;
            font-weight: bold;
            margin-bottom: 0 !important;
        }
        .subtitle {
            font-family: "Noto Sans";
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #323232;
            opacity: 0.8;
        }
        .description {
            font-family: "Noto Sans";
            font-size: 16px;
            line-height: 19px;
            color: #323232;
            opacity: 0.8;
            span {
                margin: 0 6px;
                &:first-child {
                    margin: 0 6px 0 0;
                }
            }
        }
    }
    .no-cases {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 80px;
        .title {
            font-family: "Noto Sans";
            font-size: 32px;
            line-height: 37px;

            color: #004f6e;

            opacity: 0.8;
            margin-bottom: 19px;
        }
        .subtitle {
            font-family: "Noto Sans";
            font-size: 16px;
            line-height: 19px;
            color: #323232;
            opacity: 0.8;
        }
    }
}

.case-discovery-detailed {
    height: 100%;
    .MuiButton-root.Mui-disabled {
        color: #ffffff;
        opacity: 0.3;
    }
    .detailed-case {
        position: relative;
        padding: 40px;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: calc(100vw - 340px);
        max-height: calc(100vh);
        .case-header .save-toggle.not-saved {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        .detailed-loading {
            width: 100%;
            position: absolute;
        }
        .back {
            font-family: "Noto Sans";
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #323232;
            opacity: 0.8;
            cursor: pointer;
        }
        .case-header {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        .back-header {
            display: flex;
            justify-content: space-between;
            .button {
                margin: auto 0;
            }
        }

        .case-title {
            font-family: "Noto Sans";
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
            color: #004f6e;
            max-width: 80%;
            margin-bottom: 12px;
        }

        .case-description {
            font-family: "Noto Sans";
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #828282;
            mix-blend-mode: normal;
            margin-bottom: 30px;
            .case-specialty {
                font-family: "Noto Sans";
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #585858;
                mix-blend-mode: normal;
                margin: 12px 0;
            }
            span {
                margin: 0 12px 0 0;
                white-space: nowrap;
            }
        }

        .timing-graphs {
            margin-top: 18px;
            .procedure-distribution {
                text-align: center;
                .title {
                    font-family: "Noto Sans";
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #4f4f4f;
                    margin: 16px 0 12px;
                    margin: auto;
                    width: 100%;
                }
                .marker {
                    font-family: "Noto Sans";
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    line,
                    text {
                        // stroke-dasharray: 5, 5;
                        fill: #009483;
                    }
                }
            }
            .tooltip {
                color: #fff;
                padding: 16px;
                text-align: left;
                max-width: 300px;
                word-wrap: break-word;
                font-family: "Noto Sans";
                font-weight: 500 !important;
                border-radius: 4px;
                background-color: rgba(97, 97, 97, 0.9);
            }

            .timing {
                max-width: 600px;
                .scheduled-start {
                    margin-bottom: 16px;
                }
                .timing-value,
                .timing-header {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21px;
                    color: #323232;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                    margin: 8px 0;
                    white-space: nowrap;
                }
                .timing-value {
                    font-weight: bold;
                    margin-bottom: 18px;
                }
                .laterality img {
                    margin: 8px 0;
                }
                .difference {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    /* identical to box height */
                    color: #ff0000;

                    mix-blend-mode: normal;
                    opacity: 0.8;
                    .early {
                        color: #009483;
                    }
                    div {
                        white-space: nowrap;
                    }
                }
            }
            .hl7-chart {
                .c3-axis-x,
                .c3-axis-y {
                    color: #2b6f8a;
                    font-size: 14px;
                    .tick line {
                        opacity: 0;
                    }
                    path {
                        stroke: #cce5ee;
                    }
                }
                .c3-target-y {
                    display: none;
                }
                .marker {
                    font-family: "Noto Sans";
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 19px;
                    line,
                    text {
                        stroke-dasharray: 5, 5;
                        fill: #009483;
                    }
                }
                .toggles {
                    margin-bottom: 18px;
                    margin-left: -4px;
                    .toggle {
                        padding: 8px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        border: 2px solid #d8f0f9;
                        box-sizing: border-box;
                        border-radius: 4px;
                        color: #2f83a4;
                        display: inline-flex;
                        mix-blend-mode: normal;
                        margin: 4px 4px;
                        cursor: pointer;

                        &.selected {
                            background: #d8f0f9;
                            color: #004f6e;
                        }
                    }
                }
                .MuiDivider-root {
                    // margin-bottom: 8px;
                }
                .header {
                    font-family: "Noto Sans";
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    color: #4f4f4f;
                    margin: 16px 0 12px;
                    &.sub {
                        font-size: 16px;
                        line-height: 19px;
                    }
                    &.center {
                        text-align: center;
                    }
                }
                .chart-container {
                    display: flex;
                }
                .patient-vitals {
                    min-width: 130px;
                    max-width: 300px;
                    div {
                        margin-right: 8px;
                    }
                }
                .selector {
                    height: 270px;
                    margin-left: -8px;
                    overflow-y: auto;
                    .hl7-value {
                        font-family: "Noto Sans";
                        // font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                        color: #323232;
                        opacity: 0.8;
                        padding: 8px 8px;
                        margin: 4px 0px;
                        overflow-y: auto;
                        cursor: pointer;
                        &.selected {
                            color: #2b6f8a;
                            background: #d8f0f9;
                            font-weight: bold;
                            opacity: 1;
                        }
                        &:hover {
                            background: #d8f0f9;
                        }
                    }
                }
            }
        }
    }

    &[hidden] {
        display: none;
    }

    .schedule {
        background: rgba(216, 223, 249, 0.4);

        box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-width: 20%;
        .header {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;

            color: #004f6e;
            opacity: 0.8;
            padding: 14px 28px;
            margin-bottom: 8px;
            text-align: center;
            div {
                margin: 4px 0;
            }
        }
        .timeline {
            .scheduled-block {
                width: 100%;
                background: rgba(245, 248, 250, 1);
            }
            .hour-marker {
                font-family: "Noto Sans";
                font-size: 14px;
                line-height: 16px;
                color: #828282;
                opacity: 0.8;
                position: relative;
                div {
                    // margin-top: -8px;
                    top: -8px;
                    left: 8px;
                    position: absolute;
                    background: rgba(245, 248, 250, 0);
                    padding: 4px;
                    border-radius: 4px;
                    &.start-boundary, &.end-boundary {
                        background-color: rgba(245, 248, 250, 1);
                    }
                }
            }
            .case-block {
                right: 12px;
                width: 70%;
                background: #fff;
                border-radius: 4px;
                padding: 10px 14px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .case-title,
                .case-time {
                    font-family: "Noto Sans";
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;

                    color: #323232;
                    opacity: 0.8;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                &.medium .case-title {
                    -webkit-line-clamp: 2;
                }
                &.short .case-title {
                    -webkit-line-clamp: 1;
                }
                &.is-current-case {
                    background: #d8f0f9;
                    .case-title,
                    .case-time {
                        color: #2b6f8a;
                    }
                }
                &:hover {
                    box-shadow: 1px 2px 12px grey;
                    -webkit-transition: box-shadow 0.1s ease-in;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 6px;
        border-radius: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.02);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c2c2c2;
        border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(85, 85, 85, 0.8);
    }
}

.request-emm-modal {
    .request-emm {
        height: 100%;
        display: flex;
        flex-direction: column;
        .flag-select {
            opacity: 0;
            transform: translateY(-5%);
            transition: opacity 1000ms, transform 500ms; 
        }
        .animate {
            opacity: 1;
            transform: translateX(0);
        }
    }

    right: 0;
    width: 580px;
    height: 100%;
    overflow-y: auto;
    padding: 40px;
    outline: none;
    position: absolute;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 4px;
    .input-label {
        color: #323232;
        opacity: 0.8;
        font-size: 16px;
        font-family: "Noto Sans";
    }
    .close-button {
        width: 100%;
        cursor: pointer;
        img {
            float: right;
        }
    }
    .header {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        color: #004f6e;
        mix-blend-mode: normal;
        margin-bottom: 26px;
        max-width: 290px;

        &.flag-submit {
            display: flex;
            align-items: center;
        }
    }
    .subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #4f4f4f;
        mix-blend-mode: normal;
        margin-bottom: 10px;
        min-height: 21px;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .description {
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 19px;
        color: #323232;
        opacity: 0.8;
        div {
            display: flex;
            justify-content: space-between;
        }
    }
    .select-header {
        display: flex;
        justify-content: space-between;
    }
    .tags {
        margin: 4px -4px;
        width: 100%;
    }
    .tag {
        border-radius: 8px;
        background-color: #d8f0f9;
        color: #004f6e;
        opacity: 0.8;
        padding: 6px;
        margin: 4px 4px;
        display: inline-block;
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
        span {
            display: inline-flex;
        }

        .display {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 110px;
        }
        .delete {
            width: 16px;
            height: 14px;
            cursor: pointer;
            padding-top: 2px;
            margin-left: 4px;
        }
    }
    .notes-field {
        margin-bottom: 24px;
    }
    .send-request {
        margin-top: auto;
        align-self: baseline;
        width: 161px;
    }
    .submit-flag {
        margin-top: 2rem;
        &:disabled {
            opacity: 0.2;
            color: #fff;
        }
    }

    .loader {
        border: 6px solid $light-grey;
        border-top: 6px solid $light-blue;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.add-flag-modal-content {
   
}


.tag-info-modal {
    .admin-link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .info-tag,
    .case-tag {
        margin: auto 0;
    }
    .info-column,
    .tag-column {
        border-bottom: 1px solid grey;
        padding: 16px;
        &:nth-child(2),
        &:first-of-type {
            border-top: 1px solid grey;
        }
    }
    .tag-column {
        border-left: 1px solid grey;
        display: flex;
        justify-content: center;
    }
    .info-column {
        border-right: 1px solid grey;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .close-button {
        width: 100%;
        cursor: pointer;
        img {
            float: right;
        }
    }
    .header {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 36px;
        // padding: 40px 40px 0;
        margin-bottom: 16px;
    }
    .close {
        margin-top: 16px;
        text-align: end;
    }
}
.timeline-container {
    width: 100%;
    transform: translate(0px, -139px);
    padding-left: 45px;
    height: 30px;
    .clip-timeline {
        position: relative;
        // background-color: rgba(61, 179, 227,.1);
        // border-top: 1px solid #cce5ee;
        // border-left: 1px solid #cce5ee;
        height: 100%;
        width: 100%;
        .clip-marker {
            // border-radius: 4px;

            position: absolute;
            // min-width: 30px;
            border-bottom: 1px solid #d42828;
            padding-top: 2px;
            // display: flex;
            // background-color: #ffcfcf;
            height: 100%;
            svg {
                cursor: pointer;
                // margin:auto;
                margin-bottom: -5px;
            }
            &:before,
            &:after {
                position: absolute;
                bottom: -4px;
                left: 0;
                height: 6px;
                width: 6px;
                background: #d42828;
                content: "";
                border-radius: 12px;
            }
        }
    }
}
.Modal.clip-modal {
    min-width: 1050px;
    // min-height: 695px;
    .close-button {
        margin-top: -34px;
        width: 100%;
        position: absolute;
        padding: 0 44px;
        img {
            cursor: pointer;
            float: right;
        }
    }
    .video-player {
        margin-bottom: 16px;
        .video-js {
            min-width: 100%;
            min-height: 400px;
        }
    }
    .clip-details {
        .flag-details {
            padding: 20px;
            padding-right: 0;
            padding-top: 0;
            position: relative;
            max-height: 410px;
            overflow: hidden;
            overflow-y: auto;
            & > div {
                margin-bottom: 8px;
            }
            .details-header {
                font-weight: bold;
                margin-bottom: 12px;
            }
        }
        .button {
            margin-top: 4px;
            margin-bottom: 0 !important;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            button {
                margin: auto;
            }
        }

        .detail-entry {
            margin: 4px 0;
            .title {
                font-weight: bold;
            }
        }
    }
    .Presenter-Mode-Banner {
        background: #004f6e;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        color: $white;
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-bottom: 40px;
        border-radius: 4px 4px 0 0;
    }
}
.publish-dialog {
    .MuiPaper-root {
        padding: 16px;
    }
    h2 {
        opacity: 0.8;
    }
    .cancel-publish {
        color: #028cc8 !important;
    }
}
@media (max-height: 960px) {
    .tag-info-modal {
        max-height: 524px;
        overflow-y: auto;
    }
}
// Case display animation
.item-enter {
    opacity: 0.01;
    transform: translate(0, -40px);
}

.item-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in;
}

.item-exit {
    opacity: 1;
    transform: translate(0, 0);
}

.item-exit-active {
    opacity: 0.01;
    transform: translate(0, 40px);
    transition: all 500ms ease-in;
}

.recommended-cases {
    display: flex;
    flex-direction: column-reverse;
    .case-tag img {
        width: 22px !important;
        height: 22px !important;
    }
    .rec-header {
        display: flex;
        justify-content: space-between;
        // max-width: 90%;
        width: 90%;
        margin: auto;
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 23px;
    }
    .left-arrow {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgba(51, 51, 51, 0.6);
        margin-right: 10px !important;
        margin-top: 3px !important;
        cursor: pointer;
    }

    .right-arrow {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid rgba(51, 51, 51, 0.6);

        margin-top: 3px !important;
        cursor: pointer;
    }
    .case-tag img {
        width: 22px !important;
        height: 22px !important;
    }
}

@media (min-width: $desktop-width) {
    .case-discovery-search {
        .no-cases,
        .case,
        .header {
            width: 85%;
            max-width: 1180px;
        }
    }
    .recommended-cases {
        width: 85%;
        max-width: 1180px;
    }
}
@media (max-width: 1600px) {
    .case-discovery-search {
        .no-cases,
        .case,
        .header {
            width: 95%;
        }
        .filters {
            min-width: 26%;
            width: 26%;
            padding-right: 24px;
        }
        .case-container {
            max-width: 74%;
            flex-basis: 74%;
        }
    }
    .recommended-cases {
        width: 95%;
    }
}

@media (max-width: 1280px) {
    .case-discovery-search {
        padding: 2.5em 0 0 20px;
        .filters {
            min-width: 28%;
            width: 28%;
            padding-right: 20px;
        }
        .case-container {
            max-width: 72%;
            flex-basis: 72%;
        }
    }
}
