@import "../../styles/global-styles.scss";
.app-wrapper section.case-discovery {
    overflow: hidden;
    padding-top: 20px;
    padding-right: 0px;
}

.case-discovery-search {
    // max-width: 1198px;
    // margin: auto !important;
    .header,
    .header-label {
        font-family: Helvetica;
        font-size: 16px;
        opacity: 0.8;
        line-height: 18px;
        color: #919191;
        margin: auto 0;
    }
    .header {
        position: absolute;
        background: linear-gradient(180deg, #ffffff 80.33%, rgba(255, 255, 255, 0) 107.41%);
        z-index: 300;
        display: flex;
        justify-content: space-between;
        left: 0;
        right: 20px;
        top: 0;
        padding: 20px;
        padding-top: 49px;
        margin-right: 20px;
        opacity: 1;
    }
    .cases {
        overflow-y: auto;
        max-height: calc(100vh - 17px);
        width: 100%;
        padding-top: 96px;
        padding-bottom: 90px;
        height: 100%;
        .load-more {
            padding: 7px 23px;
            background: #f4f5f7;
            border: 1px solid #f3f3f3;
            border-radius: 4px;

            font-family: "Noto Sans";

            font-size: 18px;
            line-height: 25px;

            color: #323232;
        }
    }

    .filters {
        overflow-y: auto;
        max-height: calc(100vh - 17px);
        margin-top: 20px;
        max-width: 360px;
        .select-header {
            display: flex;
            justify-content: space-between;
        }
        .custom-dates {
            display: flex;
            justify-content: space-between;
            .start-date {
                margin-right: 8px;
            }
        }
        .empty-date{
            opacity: .45;
        }
        .include-toggle {
            margin-top: 12px;
            color: #323232 !important;
            .include-label {
                font-family: Helvetica;
                font-size: 16px;
                line-height: 18px;
                opacity: 0.8;
                color: #323232;
            }
        }
    }
    .tags {
        margin: 4px -4px;
    }
    .tag {
        border-radius: 8px;
        background-color: #d8f0f9;
        color: #004f6e;
        opacity: 0.8;
        padding: 6px;
        margin: 4px 4px;
        display: inline-block;
        font-family: Helvetica;
        font-size: 16px;
        line-height: 18px;
        white-space: nowrap;
        span {
            display: inline-flex;
        }
        .display {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 110px;
        }
        .delete {
            width: 16px;
            height: 14px;
            cursor: pointer;
            padding-top: 2px;
            margin-left: 4px;
        }
    }

    .case {
        div:not(:last-child) {
            margin-bottom: 18px;
        }
        .title {
            font-family: Helvetica;
            font-size: 32px;
            line-height: 37px;
            color: #004f6e;
            opacity: 0.8;
            cursor: pointer;
            width: fit-content;
            &:hover {
                text-decoration: underline;
            }
        }
        .subtitle {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #323232;
            opacity: 0.8;
        }
        .description {
            font-family: Helvetica;
            font-size: 16px;
            line-height: 18px;
            color: #323232;
            opacity: 0.8;
            span {
                margin: 0 6px;
                &:first-child {
                    margin: 0 6px 0 0;
                }
            }
        }
        margin-bottom: 38px;
        .tags {
            display: inline-block;
            margin: 0 -4px;
        }
        .case-tag {
            border-radius: 8px;
            background-color: #d8f0f9;
            color: #004f6e;
            opacity: 0.8;
            padding: 6px;
            margin: 0 4px;
            display: inline-flex;
            font-family: Helvetica;
            font-size: 16px;
            line-height: 18px;
            white-space: nowrap;
            .display {
                margin: auto 4px;
            }
            &.Flagged {
                background-color: #ffcfcf;
                color: #7b2d2d;
            }
        }
    }
    .no-cases {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;
        .title {
            font-family: Helvetica;
            font-size: 32px;
            line-height: 37px;

            color: #004f6e;

            opacity: 0.8;
            margin-bottom: 19px;
        }
        .subtitle {
            font-family: Helvetica;
            font-size: 16px;
            line-height: 18px;
            color: #323232;
            opacity: 0.8;
        }
    }
}

.case-discovery-detailed {
    .back {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #323232;

        opacity: 0.8;
        cursor: pointer;
    }
}
