@import '../../../styles/global-styles';

.horizontal-chart .chart-title{
  font-size: 26px;
  letter-spacing: 0;
  line-height: 36px;
}

.horizontal-chart .chart-subtitle{
  font-style: italic;
  margin-bottom: 32px;
}
.horizontal-chart .chart-score{
  color: #005979;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}
.horizontal-chart .horizontal-bar:hover{
  opacity: .6;
}

.horizontal-footer{
  font-style: italic;
  position: absolute;
  bottom: 0;
}