@import '../../../../styles/global-styles';

.phase-events-title {
  border-bottom: 1px solid #F3F3F3;
  padding: 16px;
}
.phase-events {
  padding: 24px 16px;
  border-bottom: 1px solid #F3F3F3;
  .time-select {
    color: #028CC8;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .event {
    color: #028CC8;
    margin-top: 16px;
    cursor: pointer;
  }
}