.sst-login-button{
    text-align: center;
    margin-top: 25px;
    width: 300px;
    height: 75px;
    line-height: 75px;
    background: #009483;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}
