@import '../../styles/global-styles.scss';

.header {
    font-size: 26px;
    line-height: 36px;
}

.requestBox {
    width: 900px;
}

.input {
    display: flex;
}

.input-field {
    width: 100%;
}

.placeholder {
    opacity: .8;
}

body {
    background: #ffffff;
}

.first-column {
    width: 50%;
}

.user-info-buttons {
    display: flex;
    justify-content: flex-end;
    width: 60%
}

.button-padding {
    margin-right: 40px;
}

.input-padding {
    margin-bottom: 25px;
}

.loader {
    border: 6px solid $light-grey;
    border-top: 6px solid $light-blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} 
