@import '../../styles/global-styles.scss';

.input {
    display: flex;
}

.error svg,
.Mui-error svg{
    color: #f44336;
}
.MuiFormHelperText-contained.Mui-error{
    margin-left: 0;
}

.app-wrapper .request-emm-page{
    font-size: 14px;
    line-height: 19px;
}

.MuiCheckbox-colorSecondary:hover { 
    background: none !important; 
}
.app-wrapper .other-checkbox{
    margin: -20px 0 5px -10px;

}

.first-column {
    width: 50%;
}

.button-padding {
    margin-right: 40px;
}

.input-padding {
    margin-bottom: 25px;
}

.loader {
    border: 6px solid $light-grey;
    border-top: 6px solid $light-blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} 

.MuiAutocomplete-option{
    padding-left: 30px;
}