.modal {
    top: 50%;
    left: 50%;
    min-width: 691px;
    transform: translate(-50%, -50%);
    padding: 40px;
    outline: none;
    position: absolute;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 4px;
}

.page-container {
    background-color: #f2f2f2;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Noto Sans";
    .efficiencyOnboard-link {
        width: fit-content;
        position: absolute;
    }
    .tile-card {
        height:340px;
        background: #ffffff;
        /* card shadow */
        box-shadow: 4px 12px 32px rgba(109, 141, 173, 0.12) !important ;
        border-radius: 8px !important ;
    }

    .tile-title {
        margin-top: 0px;
        color: #333;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 16px;
    }
    .apply-cancel-buttons{
        > button {
            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                margin-left: 10px;
            }
        }
    }
    .efficiency-head-container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: auto;
        background-color: #e0e0e0;
        padding: 0 40px;
    }

    .efficiency-container {
        padding: 10px 40px;
        .efficiency-dashboard-header {
            margin: 0px;
            margin-top: 36px;
        }
        .react-multi-carousel-list{
            height: 80%;
            .react-multi-carousel-dot button{
                border: none;
                background: #BDBDBD;
            }
            .react-multi-carousel-dot--active button{
                background: #004F6E;
            }
        }
        .react-multi-carousel-item{
            padding: 0 80px;
        }
    }
    .display-number {
        display: inline-flex;
        align-items: flex-start;
        text-align: left;
        color: #004f6e;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 88px;
        line-height: 120px;
    }
    .superscript-text {
        margin-top: 34px;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 35px;
        color: #004f6e;
    }
    .additional-scores {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 14px;
        align-items: center;
        &:nth-child(2n) {
            background-color: #eefaff;
        }
        .additional-scores-title {
            color: #4f4f4f;
            font-size: 16px;
            line-height: 22px;
        }
        .additional-scores-value {
            color: #004f6e;
            font-size: 26px;
            line-height: 35px;
        }
    }
    .overtime-rows {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        .overtime-block-number {
            display: flex;
            color: #004f6e;
            font-family: "Noto Sans";
            font-size: 64px;
            font-weight: bold;
            line-height: 87px;
            flex: 1 0 70%;
            margin-bottom: 24px;
            sub {
                display: flex;
                font-size: 18px;
                align-items: flex-end;
                font-weight: normal;
                line-height: 25px;
                bottom: 10px;
            }
        }
        .overtime-helper {
            display: flex;
            flex: 1 0 30%;
            text-align: right;
            font-size: 18px;
            line-height: 25px;
            color: #4f4f4f;
            padding: 8px;
            margin-bottom: 24px;
        }
    }
}

.change-percent-badge-increase {
    width: auto;
    display: inline-flex;
    align-items: center;
    background-color: rgba(151, 231, 179, 0.3);
    padding: 6px;
    border-radius: 4px;
}
.change-percent-badge-decrease {
    width: auto;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 6px;
    background-color: rgba(255, 125, 125, 0.3);
}

.change-percent-badge-neutral {
    width: auto;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 6px;
    background-color: rgb(208, 208, 208);
    justify-content: center;
}

.change-percent-text-neutral {
    color: #858585;
    opacity: 1;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding-right: 4px;
}

.change-percent-text-increase {
    color: #009483;
    opacity: 1;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    padding-right: 4px;
}

.change-percent-text-decrease {
    color: #ec2027;
    opacity: 1;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    padding-right: 4px;
}

.room-data-container {
    color: #333;
    font-size: 16px;
    line-height: 22px;
}
