@import '../../styles/global-styles.scss';
section.emm-publish-page{
    padding-bottom: 60px !important;
    .pad {
        padding: 0 16px;
    }
}


.emm-publish-page .MuiPaper-elevation2 {
    box-shadow: none;
}

.emm-publish-page .MuiIconButton-root,
.emm-publish-page .MuiIconButton-root:hover{
    background-color: unset;
    transition: none !important;
    margin-left: auto;
    margin-right: auto;
}
.emm-publish-page .MuiTouchRipple-root{
    display: none;
}

.emm-publish-page .secondary .MuiButton-label{
    font-size: 14px !important;
}