.modal-header {
  font-size: 26px;
  line-height: 35px;
  color: #004f6e;
}

.current-facility {
  display: inline-flex;
  margin-bottom: 20px;

  .current-facility__img {
    margin-right: 20px;
  }

  .current-facility__label {
    font-size: 14px;
    line-height: 19px;
    color: #bdbdbd;
  }

  .current-facility__name {
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    padding-top: 10px;
  }

  img {
    border-radius: 50%;
    background-size: cover;
    border-radius: 50% 50% 50% 50%;
    width: 100px;
    height: 100px;
  }
}

.other-facilities {
  display: flex;
  flex-direction: column;
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 -30px;

  img {
    border-radius: 50%;
    background-size: cover;
    border-radius: 50% 50% 50% 50%;
    width: 50px;
    height: 50px;
  }

  .other-facilities__list-item {
    display: inline-flex;
    align-items: center;
    border-bottom: #f2f2f2 1px solid;
    padding: 2px 50px;
    margin: 0 -50px;
    background: rgba(196, 196, 196, 0.1);
  }

  .other-facilities__name {
    padding-left: 30px;
    flex: 1;
  }

  .other-facilities__img {
    padding-left: 30px;
  }

  .other-facilities__action {
    margin-right: 20px;
  }

  .other-facilities__action:hover {
    cursor: pointer;
  }

  .other-facilities__action:active {
    cursor: default;
  }
}

.date-range-picker {
  .date-header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    border-bottom: 1px solid #f2f2f2;
    .arrow {
      margin: 0 16px;
    }
    .clear {
      position: absolute;
      top: 0;
      right: 18px;
    }
    .date {
      cursor: pointer;
    }
    .selected{
      border-bottom: 2px solid #008489;
    }
  }
  .preset-tag {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    margin: 0 8px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    width: fit-content;
  }
  .DateRangePickerInput * {
    font-family: "Noto Sans" !important;
  }
  .DateInput {
    width: 135px !important;
  }
  .DateRangePickerInput_arrow_svg {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
  }
  .display-warning {
    padding: 16px;
    font-weight: bold;
  }

  .DateRangePickerInput,
  .DateInput_input {
    background-color: #e0e0e0 !important;
  }
  .DateInput_input {
    cursor: pointer;
    color: #000000 !important;
  }

  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: #004f6e !important;
    border: 1px double #004f6e !important;
    color: #fff;
  }
  .CalendarDay__hovered_span,
  .CalendarDay__hovered_span:hover,
  .CalendarDay__selected_span {
    background: #3db3e3 !important;
    border: 1px double #3db3e3 !important;
    color: #fff;
  }
}
