.sub-donut-chart {
  .donut{
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
  }
  .donut-title {
    margin: auto;
  }
  .donut-score {
    color: #004f6e;
    font-family: "Noto Sans";
    font-size: 42px;
    letter-spacing: 0;
    line-height: 42px;
  }
  
  .donut-unit{
    color: #004f6e;
  }
  .c3-tooltip-container .tooltip {
    white-space: nowrap;
  }
  .circle:before {
    content: " \25CF";
    font-size: 32px;
    line-height: 0;
  }
  path {
    stroke-width: 0;
  }
}
.c3-arc-NA {
  fill: #f3f3f3 !important;
}
