@import "../../styles/global-styles";

.universal-picker {
    .MuiInputBase-root {
        background-color: white;
    }

    .MuiOutlinedInput-notchedOutline {
        border: none;
    }

    .all-days,
    .all-specialties .MuiAutocomplete-input,
    .all-specialties .MuiAutocomplete-input,
    .all-ors .MuiAutocomplete-input {
        opacity: 0.4;
    }
    .Mui-disabled .MuiAutocomplete-input::placeholder,
    .select-a-specialty .MuiAutocomplete-input::placeholder {
        opacity: 1;
    }
    .MuiButton-root.Mui-disabled {
        color: #ffffff;
        opacity: 0.3;
    }
    .MuiOutlinedInput-root.MuiAutocomplete-inputRoot.Mui-disabled {
        opacity: 0.3;
    }
    .filter-label {
        opacity: 0.8;
        color: #000000;
        font-family: "Noto Sans";
        width: 210px;
    }
    .buttons {
        display: flex;
        .clear {
            color: #028cc8;
            white-space: nowrap;
            .MuiButton-label {
                font-size: 14px;
                letter-spacing: 0;
                line-height: 19px;
            }
            padding:12px;
            margin:0 8px;
        }
        button {
            margin: 16px 0px;
            &:hover{
                background-color: unset;
            }
        }
        
    }
}
