@import '../../styles/global-styles';

.universal-picker .MuiInputBase-root{
    background-color: white;
}
.universal-picker .MuiOutlinedInput-notchedOutline{
    border: none;
}

.MuiListSubheader-root{
    font-size: 14px !important;
    line-height: 19px !important;
}
.universal-picker .all-days,
.universal-picker .all-specialties .MuiAutocomplete-input,
.universal-picker .all-procedures .MuiAutocomplete-input,
.universal-picker .all-ors .MuiAutocomplete-input{
    opacity: .4;
}