@import '../../../styles/global-styles';

.OR-Room-Name {
    background: $dark-blue;
    color: #fff;
    padding: 1rem;
    h3 {
        @include fontSizeLineHeight(5);
        margin: 0px;
    }
}

.OR-Room-Content {
    max-width: 400px;
    margin: 0px auto;
    h5 { @include fontSizeLineHeight(1.5); }
    .OR-Room-Stat {
        width: 48%;
        margin: 1%;
        border: 1px solid $dark-blue;
        border-radius: 20px;
        padding: 1rem;
        vertical-align: top;
        @include fontSizeLineHeight(1.25);
        .stat { @include fontSizeLineHeight(2.5); }
    }
}